{% extends 'Blog/base.html' %}
{% block body %}
<div class="main-content">
    <div style="padding-top: 30px"></div>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-6'>
                {% load static %}
                  <img class="img-responsive"
                       src="{% static "Blog/images/IMG_0463.JPG" %}" alt="My image"/>
            </div>
            <div class='col-sm-6'>
                <p>
                    I am a <strong>Software Developer/Analyst</strong>,working for
                    <a href="#">Technology Resources</a>,
                    <a href='www.cuet.ac.bd'>CUET</a> from where I completed my BSc degree
                    in <strong>Computer Science & Engineering</strong> in 2017. I
                </p>

                <p>
                    Computer's are my passion. I enjoy coding and
                    solving critical problems. Python, Java, JavaScript and PHP are my
                    favourites.
                </p>

            </div>
        </div>
    </div>
    <div class='space'></div>
</div><!-- close .*-inner (main-content or sidebar, depending if sidebar is used) -->

</div><!-- close .main-content -->
{% endblock %}

