{% extends 'Blog/base.html' %}
{% block body %}
<div class="main-content">
    <div class=container>
        <div class='row'>
            <div class='col-sm-12'>
                <h1>Academic Resumes:</h1>
                <object data="../../static/Blog/images/ResumeofMrRukunujjamanmiaji.pdf" style="width: 100%; height: 100%; display: block;"></object>

                    <p>It appears you don't have a PDF plugin for this browser.
                        You can
                        <a href="https://drive.google.com/open?id=0B2vKve40YE7NTDBEYmFocEMyU0k">
                            click here to download the PDF file.</a>
                    </p>

                </object>
            </div>
        </div>
    </div>
</div><!-- close .*-inner (main-content or sidebar, depending if sidebar is used) -->
{% endblock %}